prow/*secret
prow/hmac
prow/pat
prow/github_oauth
prow/cookie.txt
prow/oauth
prow/cluster/*token.yaml
prow/update-jobs/vendor
.DS_Store
.idea
.vscode

.envrc
config/prow/hmac-token
config/prow/oauth-token
config/prow/github_oauth
config/prow/cookie.txt
config/prow/service-account.json
config/prow/service-account_local.json
create-build-cluster.sh
kubeconfig_kubecoins-prow-test-infra
tools/create_gencred.sh
config/prow/poiana_gpg_secret.yaml
config/clusters/local.tfvars

# terraform files
.terraform
**/.terraform/*
*.tfstate
*.tfstate.*

# local prowjob tests
pj.yaml
temp-mkpod-kind-config.yaml
pod.yaml

# Out folder
out

tools/update-jobs/bin